.modal {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    pointer-events: none;

    transition: 0.5s;
}

.modal__content {
    pointer-events: all;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--color-background);
    width: 800px;
    position: relative;
}

.modal__heading {
    margin-top: 8px;
    margin-bottom: 42px;
    font-size: 40px;
    color: var(--color-main);
    font-style: normal;
    font-weight: 500;
}

.close-modal {
    font-weight: 500;
    font-size: 50px;
    background-color: var(--color-background);
    color: var(--color-main);
    text-decoration: none;

    border: 0;
    outline: 0;

    position: absolute;
    top: 8px;
    right: 24px;
}

.close-modal:hover {
    color: var(--color-hover);
    cursor: pointer;
}

.close-modal:active {
    color: #65abff;
}

.modal__task-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.modal__task-container .modal__fieldset {
    width: 100%;
}

.modal__task-container,
.modal__fieldset-error {
    width: 100%;
}

.modal__task-container .modal__fs1 {
    margin-right: 24px;
}

.modal__task-container .modal__fs1:last-child {
    margin-right: 0;
}

.task-modal__fieldset {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__select {
    width: 100%;
    font-size: 20px;

    background-color: var(--color-background);
    border: 0;
    outline: 0;
}

.modal__fieldset {
    border: 2px solid var(--color-main);
    border-radius: 4px;
    padding: 0 8px 4px 8px;
}

.modal__fieldset-error {
    border: 2px solid var(--color-error);
    border-radius: 4px;
    padding: 0 8px 4px 8px;
}

.modal__fieldset:hover,
.modal__fieldset:focus {
    border: 2px solid var(--color-hover);
}

.ml-24 {
    margin-left: 24px;
}

.modal__fs2 {
    margin-top: 15px;
    margin-bottom: 24px;
}

.modal__legend {
    color: #3f72af;
    line-height: 5px;
    padding: 0 2px;
    font-size: 18px;
}

.modal__legend-error {
    color: var(--color-error);
    line-height: 5px;
    padding: 0 2px;
    font-size: 18px;
}

.modal__input {
    font-size: 20px;
    width: 100%;
    background-color: var(--color-background);
    border: 0;
    outline: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

.modal__textarea {
    margin-top: 10px;
    resize: none;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
}

.modal__create-button {
    background-color: var(--color-main);
    color: #fff;

    padding: 13px 0;
    margin-right: 24px;
    width: 200px;

    font-size: 20px;
    border-radius: 4px;
    border: 0;
    outline: 0;
}

.modal__create-button:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

.modal__create-button:active {
    background-color: #65abff;
}

.modal__close-button {
    background-color: var(--color-background);
    color: var(--color-main);

    padding: 13px 0;
    width: 120px;

    font-size: 20px;
    border-radius: 4px;
    border: 2px solid var(--color-main);
    outline: 0;
}

.modal__close-button:hover {
    cursor: pointer;
    color: var(--color-hover);
    background-color: rgba(37, 127, 234, 0.2);
    border: 2px solid var(--color-hover);
}

.modal__close-button:active {
    color: #fff;
    background-color: var(--color-hover);
}

.task__error-field {
    color: var(--color-error);
    font-size: 14px;
    line-height: 20px;
    visibility: hidden;
}

.task__error-field-visible {
    visibility: visible;
    padding-left: 6px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-error);
}

.category__error-field {
    color: var(--color-error);
    line-height: 20px;
    visibility: hidden;
    font-size: 14px;
}

.category__error-field-visible {
    visibility: visible;
    color: var(--color-error);
    font-size: 14px;
    padding-left: 6px;
    line-height: 20px;
}
